$nameBigFontSize: 120px;

.name__container {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 119px);
  line-height: 40px;
}

.name__inner-container {
  position: relative;
}

.name__last {
  font-size: 60px;
}

.name__fixed {
  margin-left: $marginLeftSmall;
}

.name__first {
  font-size: 24px;
  margin-left: 3px;
}

.name--k {
  position: absolute;
  top: 21px;
  left: -65px;
  font-size: $nameBigFontSize;
}

.name--a {
  position: absolute;
  top: 21px;
  right: -60px;
  font-size: $nameBigFontSize;
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  .name__first {
    font-size: 30px;
  }
  .name__last {
    font-size: 12px;
  }
}
