$nameBigFontSize: 120px;

.name__container {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 119px);
  line-height: 40px;
}

.name__inner-container {
  position: relative;
}

.name__first {
  font-size: 60px;
}

.name__fixed {
  margin-left: $marginLeftSmall;
}

.name__last {
  font-size: 24px;
}

.name--j {
  position: absolute;
  left: -54px;
  font-size: $nameBigFontSize;
}

// `D` letter will start first
.name--d {
  animation: nameD, nameDShake;
  animation-delay: 0s, 1.4s;
  animation-duration: 1s, 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.name--y {
  position: absolute;
  top: 0;
  right: 0;
  animation-delay: 0.5s;
}

.name--o {
  position: absolute;
  right: -68px;
  font-size: $nameBigFontSize;
  transform: translateY(-1000px);
  animation-name: nameO;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  animation-timing-function: ease-in;
}

@media (max-width: 768px) {
  .name__first {
    font-size: 30px;
  }
  .name__last {
    font-size: 12px;
  }
  .name--j,
  .name--o {
    font-size: $nameBigFontSize / 2;
  }
  .name--j {
    left: -28px;
  }
  .name--o {
    right: -35px;
  }
}
